<div class="container">
 <div class="row">
  <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6">
   <h3>商品新規登録</h3>

   <%= form_with model: @item, url: '/admin/items', method: :post do |f| %>

    <div>
     <%= f.label :image, "商品画像" %>
     <%= f.file_field :image, accept: "Image/*" %><br>
    </div>

    <div>
     <%= f.label :name, "商品名" %>　
     <%= f.text_field :name, autofocus: true, class:"form-control", placeholder: "商品名" %><br>
    </div>

    <div>
     <%= f.label :introduction, "商品説明" %>
     <%= f.text_area :introduction, autofocus: true, class:"form-control", placeholder: "ここに説明文を記述します" %><br>
    </div>

    <div>
     <%= f.label :price, "税抜価格" %>
     <%= f.text_field :price, autofocus: true, class:"form-control", placeholder: "1000" %>円<br>
    </div>

    <div>
     <%= f.radio_button :is_selling, "true" %>
     <%= f.label :is_selling_true, "販売中" %>
     
     <%= f.radio_button :is_selling, "false" %>
     <%= f.label :is_selling_false, "sold out" %>
    </div>

    <div>
     <%= f.submit'新規登録', class:"btn btn-succes" %>
    </div>

   <% end %>

  </div>
 </div>
</div>