<div class="container">
<h3>管理者ログイン</h3>

 <%= form_with model: @admin, url: admin_session_path do |f| %>
 <%= render "admin/shared/error_messages", resource: resource %>

  <div class="field">
   <label class="col-lg-3">メールアドレス</label>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "sample@example.com" %>
  </div><br>

  <div class="field">
   <label class="col-lg-3">パスワード</label>
    <%= f.password_field :password, autofocus: true, autocomplete: "current-password" %>
  </div><br>

  <div class="actions">
   <%= f.submit "ログイン", class: "btn btn-primary" %>
  </div>
<% end %>
</div>

<%= render "admin/shared/links" %>
